<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>linkshaper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap-static/css/bootstrap-dark.css">
    <link rel="stylesheet" type="text/css" href="/static/earth.css">
    <link rel="shortcut icon" type="image/png" href="/static/logo.png">
</head>
<body>
    <div class="container" style="padding-top: 150px;">
        <img src="/static/logo.png" width="48">